<!doctype html>
<html lang="ja">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='eportfolio.css') }}" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">eportfolio</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if not "username" in session %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                {% else %}
                <li><a href="{{ url_for('index') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="page-header">
        <h1>Login</h1>
    </div>
    {% if msg %}
    <div class="alert alert-danger">{{ msg }}</div>
    {% endif %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}"> {{ message|capitalize }} </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% if form %}
        {% for field in form.errors %}
            {% for error in form.errors[field] %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    {% if form %}
    <form action="{{ url_for('login') }}" method="POST" novalidate class="mb-10">
        <div class="form-group">
            <label for="username">{{ form.username.label }}</label>
            {{ form.username(type="text", id="username", class="form-control", placeholder="Enter your username") }}
        </div>
        <div class="form-group">
            <label for="password">{{ form.password.label }}</label>
            {{ form.password(type="password", id="password", class="form-control", placeholder="Enter your password") }}
        </div>
        {{ form.csrf_token }}
        {{ form.cancel(class="btn") }}
        {{ form.submit(class="btn btn-primary") }}
    </form>
    {% endif %}
</div>

<script src="{{ bootstrap_find_resource('jquery.js', cdn='jquery') }}"></script>
<script src="{{ bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap') }}"></script>
<script src="{{ url_for('static', filename='eportfolio.js') }}"></script>

</body>
</html>
